/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #646464;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
}

h3 {
    margin-top: 15px;
}

p {
    margin-top: 8px;
    color: #646464;
}

/* MAIN */
main {
    height: calc(100% - 80px);
    width: 100%;
    overflow: hidden;
}


/* Sidebar */
.sidebar {
    float: left;
    width: 200px;
    height: 100%;
    background-color: black;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 80px;
    }
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    min-height: 300px;
}


/* Logo */
.logo > img {
    width: 70%;
    padding: 10px;
}

.logo-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
        text-align: center;
        padding: 5px;
    }

    .logo-mobile > img {
        width: 30%;
    }
}


/* Menù */
.list-menu a {
    display: inline-block;
    line-height: 3rem;
    padding-left: 20px;
    border-left: 3px solid transparent;
}

.list-menu a.active {
    border-left: 3px solid greenyellow;
}

.list-menu img {
    width: 25px;
    vertical-align: middle;
    opacity: .5;
}

.list-menu a:hover > img {
    opacity: 1;
}

.list-menu span {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .list-menu {
        text-align: center;
    }

    .list-menu a {
        border: 0;
        padding-left: 0;
    }

    .list-menu a.active {
        border: 0;
    }

    .list-menu span {
        display: none;
    }
}


/* Playlist */
.playlist {
    overflow: hidden;
    flex-grow: 1;
}

.playlist > h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-top: 10px;
}

.playlist-btn {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-left: 20px;
    font-size: 1.2rem;
    opacity: .5;
}

.playlist-btn:hover {
    opacity: 1;
}

.plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    font-size: 3rem;
    text-align: center;
    line-height: 30px;
    color: #080b12;
    background-color: #a3a3a3;
}


.playlist > ul {
    height: 80%;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .playlist {
        display: none;
    }
}

/* Sidebar Bottom */
.sidebar-bottom {
    height: 80px;
    padding: 0 20px;  
}

.cta-install {
    border-bottom: 1px solid #a3a3a3;
    padding-bottom: 5px;
}

.cta-install img {
    width: 15px;
    vertical-align: middle;
    opacity: .5;
}

.cta-install a:hover > img {
    opacity: 1;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.user-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #646464;
    overflow: hidden;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .cta-install span,
    .user-profile > h4 {
        display: none;
    }
    
    .sidebar-bottom {
        text-align: center;
    }

    .user-profile {
        justify-content: center;
    }

    .user-icon {
        margin: 0;
    }
}


/* Main Content*/
.main-content {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
}

.upgrade {
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5rem;
    opacity: .5;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .main-content {
        width: calc(100% - 80px);
    }

    .upgrade {
        width: calc(100% - 80px);
    }
}

.upgrade > a {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    background-color: #080b12;
    border: 1px solid white;
    border-radius: 20px;
    padding: .7rem 3rem;
    transition: transform;
}

.upgrade > a:hover {
    transform: scale(1.1);
}

.content {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 200px;
}


/* Music menu */
.music-menu {
    text-align: center;
}

.list-menu-music > li {
    display: inline-block;
    padding: 0;
    margin-right: 10px;
    text-transform: uppercase;
}

.list-menu-music a.active {
    border-bottom: 1px solid yellowgreen;
}


/* Album */
.album-container {
    margin: 20px;
}

.album-container > h2 {
    font-size: 1.8rem;
    padding-bottom: 15px;
}

.album-row {
    display: flex;
    flex-wrap: wrap;
}

.albums {
    width: calc(100% / 6 - 15px);
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    text-align: center;
    margin-right: 15px;
    position: relative;
} 

.albums .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.albums:hover .after {
    display: block;
    background-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 1100px) {
    .albums {
        width: calc(100% / 4 - 15px);
        flex: unset;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    .albums {
        width: calc(100% / 2 - 15px);
        flex: unset;
        margin-bottom: 15px;
    }
}

/* Preferiti */
.favourite-row {
    margin-left: 15px;
}

.mix {
    display: flex;
    text-align: center;
}

.artist {
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-top: 15px;
}

.artist-row {
    margin: 30px 15px;
}

.round > img {
    border-radius: 50%;
}

/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
}

.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.left-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100%;
}

.cd-cover {
    width: 20%;
    height: 100%;
}

.cd-title {
    width: 50%;
    height: 100%;
}

.cd-icons {
    height: 100%;
}

.center-footer {
    width: 40%;
}

.right-footer {
    display: flex;
    align-items: center;
    width: 250px;
    height: 100%;
}

.right-footer li {
    display: inline-block;
}

