/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* MAIN */
main {
    height: calc(100% - 80px);
    width: 100%;
    overflow: hidden;
}


/* Sidebar */
.sidebar {
    float: left;
    width: 200px;
    height: 100%;
    background-color: black;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    min-height: 300px;
}


/* Logo */
.logo > img {
    width: 70%;
    padding: 10px;
}

.logo-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
        text-align: center;
    }

    .logo-mobile > img {
        width: 30%;
    }
}


/* Menù */
.menu > div {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.icon-menu {
    width: 10%;
}


/* Playlist */
.playlist {
    overflow: hidden;
    flex-grow: 1;
    padding: 10px;
}

.playlist > h3 {
    text-transform: uppercase;
}

.plus-playlist {
    padding: 10px 0;
}

.plus {
    font-size: 3rem;
    padding: 0 1rem;
    color: #080b12;
    background-color: #a3a3a3;
}

.playlist > ul {
    height: 80%;
    overflow-y: auto;
}


.sidebar-bottom {
    height: 80px;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 80px;
    }
}


/* Main Content*/
.main-content {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
}

.upgrade {
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .5rem;
}

.upgrade > a {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    background-color: #080b12;
    border: 1px solid white;
    border-radius: 20px;
    padding: .7rem 3rem;
}

.content {
    height: 100%;
    padding: 100px 20px 20px;
}

@media screen and (max-width: 600px) {
    .main-content {
        width: calc(100% - 80px);
    }

    .upgrade {
        width: calc(100% - 80px);
    }
}

/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
}

